.list-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    background-color: rgb(29, 33, 37);
    padding: 16px;
    margin: 10px;
    min-width: 200px;
}

.list-container h4 {
    margin: 10px;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}


.list-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: auto;
}


.list-icon {
    margin-right: 5px;
    color: white;
}

.list-icon-container {
    display: flex;

}

.list-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.add-card {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    text-align: left;
}

.add-card:hover {
    background-color: rgba(161, 189, 217, 0.08);
}
