.single-card-cover-img-preview{
    width: 100%;
    height: 60px;
}

.single-card-title {
    color: rgb(182, 194, 207);
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
}

.single-card-container{
    padding: 15px;
    width: 400px;
}

.single-card-list-title{
    color: rgb(182, 194, 207);
    font-size: 14px;
    font-weight: 400;
}

.single-card-date{
    color: rgb(182, 194, 207);
    font-size: 14px;
    font-weight: 600;
}

.date-warning{
    color: rgb(182, 194, 207);
    font-size: 14px;
}

.single-card-description-header{
    color: rgb(182, 194, 207);
    font-size: 16px;
    font-weight: 600;
    margin-top: 45px;
}

.single-card-description{
    color: rgb(182, 194, 207);
}
