.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 45px;
  background-color: rgb(29, 33, 37);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(159, 173, 188, 0.16)
}

.logo-text {
  color: rgb(182, 194, 207);
  text-decoration: none;
  font-size: 18px;
  font-family: 'Nunito Sans', sans-serif;
}

.right-buttons-container {
  display: flex;
}

.my-boards-text {
  color: rgb(182, 194, 207);
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  border: 1px solid rgb(182, 194, 207);
  border-radius: 5px;
  padding: 4px;
}

.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}
